body {
  font-family: 'myFirstFont';
}
header {
  height: 80px;
  background-color: #50557f;
}
.container {
  display: block;
  margin: auto;
  width: 800px;
  position: relative;
  margin-top: 40px;
}
.health-container {
  position: absolute;
  top: 11px;
  left: 350px;
  width: 100px;
  height: 40px;
}
.health-container div {
  position: relative;
  display: inline-block;
  width: auto;
  margin-left: 16px;
  height: 40px;
}
.bar {
  width: 210px;
  height: 20px;
  background: #333356;
  border-radius: 10px;
  top: 10px;
}
.bar.health {
  position: absolute;
  top: 10px;
  left: 10px;
}
.bar.health .indicator {
  left: 5px;
}
.bar.shield {
  position: absolute;
  right: 10px;
}
.bar.shield .indicator {
  right: 5px;
  background-color: #2effdc;
}
.bar .indicator {
  position: absolute;
  height: 10px;
  top: 5px;
  border-radius: 5px;
  width: 200px;
  background: #ff2e70;
}
i {
  border: none;
  color: white;
  font-size: 20px;
}
i.health {
  position: absolute;
  left: 230px;
  top: 12px;
}
i.shield {
  position: absolute;
  right: 230px;
  top: 11px;
}
.seeker-indicator {
  position: absolute;
  left: 4px;
  bottom: 10px;
}
.laser-indicator {
  position: absolute;
  left: 60px;
  bottom: 10px;
}
.seeker-counter {
  position: absolute;
  font-size: 20px;
  color: white;
  left: 30px;
  bottom: 10px;
  width: 50px;
}
.laser-counter {
  position: absolute;
  font-size: 20px;
  color: white;
  left: 86px;
  bottom: 10px;
  width: 50px;
}
@font-face {
  font-family: 'myFirstFont';
  src: url(../assets/Xenogears_font.ttf);
}
